body {
    margin: 0px;
    background-color: #1C1C1C;
    display: flex;
}

.container {
    background-color: #1F2937;
    width: 550px;
    height: auto;
    margin: 40px auto;
}

#title {
    font-size: 40px;
    margin: 115px 0px 0px 52px;
    color: white;
}

span {
    color: #4ADF86;
}

#supporting_text {
    font-size: 20px;
    margin: 10px 0px 51px 52px;
    color: #D5D4D8;
    
}

button {
    margin-left: 52px;
    margin-bottom: 0px;
    width: 191px;
    height: 42px;
    border-radius: 6px;
    border: 0px;
    background-color: #10B981;
    color: white;
    font-size: 16px;
}

.passwords_spaces {
    display: flex;
    justify-content: space-between;
    margin: 35px 40px 40px 52px;
    font-size: 16px;
    border-top: 1px solid #273549;
    padding: 15px 0px 115px 0px;
    
}

#firstPassword-el, #secondPassword-el{
    background-color: #273549;
    width: 211px;
    height: 20px;
    padding: 10px 0px 10px 0px;
    border-radius: 6px;
    text-align: center;
    color: #55F991;
}